<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.biometricstest.mobile.FingerprintTest" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="23" />
	<application android:allowBackup="true" android:label="@string/app_name">
		<activity android:name="com.biometricstest.mobile.FingerprintTest.MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<action android:name="com.credenceid.algorithms.SERVICE" />
			</intent-filter>
		</activity>
		<service android:name="com.credenceid.algorithms" android:exported="true">
			<intent-filter>
				<action android:name="com.credenceid.algorithms.SERVICE" />
			</intent-filter>
		</service>
	</application>
</manifest>